<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArILaqhV8abld7odAsk5jFaDvSugsjMYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>142396395141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTravelAiApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-travel-ai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-travel-ai-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142396395141:ios:79604dc5fb0e7d8a8b23ec</string>
</dict>
</plist>